config.py
__pycache__
pgdiscord
.pytest_cache
pgbot

__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.env
config.py

# Directories
/.idea
/venv/
*.egg-info/

# Logs
*.log
logs

# Coverage reports
coverage/
.htmlcov/

# Jupyter notebooks
.ipynb_checkpoints/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# PyCharm project settings
.idea/
